<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chat Room Login</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/js/chat_room.js}"></script>
    <link th:href="@{/css/chat_room.css}" rel="stylesheet" />
</head>

<body>
<div class="logo_box">
    <h3>Chat Room</h3>
    <form>
        <div class="input_outer">
            <span class="u_user"></span>
            <input id="username" name="username" class="text" type="text" placeholder="Username">
        </div>
        <div class="mb2">
            <a class="act-but submit" onclick="login()">Login</a>
        </div>
    </form>
</div>
</body>

</html>